<h5>   home index </h5>
<button type="button" onclick="ScanQr()">Scanner QR code</button>

<hr>       

<span> Index produit trouvé </span>
<span id="qr-result-index"> </span>

<div data-controller="scanqr">
  <input id="qr-result-input" data-scanqr-target="name" type="text">

</div>
